<div _ngcontent-xkj-c20="" class="card">
  <div _ngcontent-xkj-c20="" class="card-header card-header-warning"><h4 _ngcontent-xkj-c20="" class="card-title">
    List of Tasks</h4>
  </div>
  <!--p _ngcontent-xkj-c20="" class="card-category">New employees on 15th September, 2016</p></div-->
  <div _ngcontent-xkj-c20="" class="card-body table-responsive">
    <table _ngcontent-xkj-c20="" class="table table-hover">
      <thead _ngcontent-xkj-c20="" class="text-warning">
      <th _ngcontent-xkj-c20="">ID</th>
      <th _ngcontent-xkj-c20="">Title</th>
      <th _ngcontent-xkj-c20="">Priority</th>
      <th _ngcontent-xkj-c20="">Completed</th>
      <th _ngcontent-xkj-c20="">Category</th>
      <th _ngcontent-xkj-c20="">Date</th>
      </thead>
      <tbody _ngcontent-xkj-c20="">
      <tr *ngFor="let task of tasks">
        <td _ngcontent-xkj-c20="">{{task.id}}</td>
        <td _ngcontent-xkj-c20="">{{task.title}}</td>
        <td _ngcontent-xkj-c20=""></td>
        <td _ngcontent-xkj-c20=""></td>
        <td _ngcontent-xkj-c20=""></td>
        <td _ngcontent-xkj-c20=""></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

